<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/NewAppTheme">
        <activity
            android:exported="true"
            android:name="com.apps.esampaio.new_version.view.task.NewTaskActivity"/>
        <activity
            android:exported="true"
            android:name="com.apps.esampaio.new_version.view.main.activity.NewMainActivity"
            android:theme="@style/NewAppTheme">

        </activity>


        <!-- Legacy -->

        <activity
            android:exported="true"
            android:name=".legacy.view.activity.MainActivity"
            android:theme="@style/AppTheme" >

        </activity>
        <activity
            android:exported="true"
            android:name=".legacy.view.activity.ListTasksActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".legacy.view.activity.ListSubtasksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.view.activity.ListTasksActivity" />
        </activity>

        <receiver android:name=".legacy.receives.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="EXECUTE_NOTIFICATION_TASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name=".legacy.receives.StartupReceive">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:exported="true"
            android:name=".legacy.view.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.ActionBar" />
    </application>

</manifest>